<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <%= gravatar_for @user %>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                          <%= @user.firstname %>
                          <%= @user.lastname %>
                        </h4>
                        <i class="glyphicon glyphicon-envelope"></i>  <%= @user.account %><br/><br/>
                        <button type="button" class="btn btn-primary">Reset Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
