<p id="notice"><%= notice %></p>

<h1>Subjects</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Abbreviation</th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.abbreviation %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
